*{margin: 0; padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; font-size: 18px; font-family: "Helvetica Neue", sans-serif;}

a{text-decoration: none; font-weight: bold;}

.nav{background: rgb(0, 160, 223);display:flex; }
    .nav a{width: 1000px;padding-top: 500px; text-align: center; padding: 25px 5% 20px ; color:rgb(255, 255, 255);font-size: 20px;}
    .buttonMob{order:1; text-align: right; width: 75.00%; padding: 20px 5% 20px}
    
.menu{background-color: rgba(0, 160, 223, 0.466);width: 300px;text-align: center;display:none;}
    


.info{background: rgb(0, 160, 223);
    order: 3;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    border-radius: 3px;
    border-color: brown;}

.column {
    float: left;
    width: 16.00%;
    padding:0.5%;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 160, 223) ;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
  }

.column2 {
    float: left;
    width: 16.00%;
    padding:0.5%;
    color: rgb(255, 255, 255);
    background-color:rgb(255, 255, 255) ;
    border-radius: 10px;
  }

.column3 {
    float: left;
    width: 16.00%;
    padding:30px 40px;
    background-color:rgb(255, 255, 255) ;
    border-radius: 10px;
    text-align: center;
  }

.column4 {
        float: left;
        width: 20.00%;
        padding:30px 40px;
        color: rgb(0, 0, 0);
        background-color:rgb(255, 255, 255) ;
        border-radius: 10px;
        text-align: center;
      }

.column5 {
        float: center;
        width: 20.00%;
        padding:30px 400px;
        color: rgb(0, 0, 0);
        background-color:rgb(255, 255, 255) ;
        border-radius: 10px;
        text-align: center;
      }

.column6 {
        position: absolute;
        left: 40%;
        color: brown;
      }


.content{text-align: center; 
    width: 100.00%;
    padding: 40px;   
    background-color:rgb(221, 221, 221) ; 
}
.content2{text-align: center; 
    width: 100.00%;
    padding: 40px;   
    background-color:rgb(0, 160, 223) ; 
}


.back{background-color: rgb(0, 160, 223);
padding-top: 30px;
}
.back2{background-color:rgb(31, 31, 31);
    padding: 50px;
    }

.w-l{position: relative;
    top: -450px;
    left: 125px;
    font-size: 50px;
    color:rgb(0, 160, 223)
}
.w-l2{position: relative;
    top: -430px;
    left: 125px;
    font-size: 20px;
}


.w1{text-align: center;
    color: rgb(255, 255, 255);
font-size: 100px; }

.w2{text-align: left;
    color: rgb(0, 0, 0);
    font-size: 15px;}
    
.w22{text-align: left;
        color: rgba(0, 0, 0, 0.466);
        font-size: 15px;}

.w3{text-align: center;
    color: rgb(0, 160, 223); 
    font-size: 36px;}

.w4{text-align: center;
    color: rgb(0, 0, 0);
    opacity: 60%; 
    font-size: 15px;}

.w5{text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 20px;}

.w6{text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 36px;}

.w7{position: relative;
    top: 140px;
    left: 20%;
    color: rgb(0, 0, 0); 
    font-size: 3px;}

.w8{
    color: rgb(0, 160, 223); 
    font-size: 30px;}
 
.w9{font-size: 15px;
    position: relative;
    top: 30px}

.w10{    color: rgb(0, 160, 223); 
        font-size: 30px;
        position: relative;
        left: 500px;}

.w11{font-size: 16px;
    position: relative;
    left: 500px;
    top: 30px}

.w12{font-size: 22px;
    text-align: center;
}

.w13{font-size: 50px;
    text-align: center;
    color: rgb(0, 160, 223)}

.w14{font-size: 12px;
        text-align: center;
        text-indent: 10px;
        color: rgb(255, 255, 255)}
    
.w15{font-size: 20px;
        text-align: center;
        padding-bottom: 30px;
        color: rgb(255, 255, 255)}
        
.w16{font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(255, 255, 255)}

.w17{font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(255, 255, 255)}

.w18{  color: rgb(0, 160, 223);
    padding: 10px;}

.w19{  color: rgba(0, 0, 0, 0.5);
    padding: 10px;}

.w20{color: rgba(255, 255, 255, 0.801);
    padding: 10px;
    position: relative;
    left: 20%;        
}


.barreira{
    height: 250px;
    margin-bottom: 45px;
    padding-top: 30px;
}
.barreira2{
    margin-bottom: 45px;
    padding-top: 100px;
}


.button {
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(37, 37, 37);
    padding: 10px 50px;
    text-align: center;
    font-size: 20px;
    margin: 20px 30px;
    cursor: pointer;
  }
.button2 {
    background-color: rgb(0, 160, 223); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    text-align: center;
    font-size: 15px;
    margin: 10px 10px;
    cursor: pointer;
  }

.imag{position: relative;
    top: -100px;
    left:50%;}

.imag2{position: relative;
    top: -60px;
    left: 20%;}

.imag3{position: relative;
        top: 0px;
        left: 58%;}


.g-c{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px 20%;
    grid-gap: 50px 50px;
}
.g-i{
    background-color: rgb(0, 160, 223);
    padding: 75px 30px;
    text-align: center;
  }

.g-t{    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(0, 160, 223);
    padding: 10px 20%;
    grid-gap: 50px 50px;}

 .g-p{
    background-color: rgb(255, 255, 255);
    padding: 25px 30px;
    text-align: center;
      }
.g-a{    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 20%;
    grid-gap: 50px 50px;}

    .image-gallery{float:center; width: 90%; margin: 100 8%;}